body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: fff;
    box-shadow: 6px 6px 20px;
    padding: 105px 90px;
}

/* About styles */

.about {
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    width: 400px;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Project styles */

.projects {
    margin-bottom: 50px;
}

.tittle {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project-list {
    padding: 0px;
    margin-left: 15px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}


.project-link {
    text-decoration: none;
    margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */




/* sidebar styles */

.sidebar {
    background-color: #1e2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts {
    margin-left: 40px;
    margin-bottom: 50px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6B727D;
}

.tech-skills {
    margin-left: 40px;
    margin-bottom: 50px;
}

.tech-skills-list {
    padding: 0;
    margin-left: 20px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills {
    margin-left: 40px;
}

.soft-skills-list {
    padding: 0px;
    margin-left: 20px;
}

.soft-skills-item {
    color: #FB6D3A;
}

.soft-skills-text {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
}

.sidebar-tittle {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}